.fechar{
    width: 4vw;

    display: flex;
    justify-content: flex-end;
    margin: auto 0 auto auto;
}

.olho{
    width: 2.5vw;

    display: flex;
    justify-content: flex-end;
    margin: auto .8vw 0 auto;
}