* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --beige: #ebe9d7;
  --greeny-blue: #57bbbc;
  --medium-pink: #ee4c77;
  --night-blue: #0d0430;
}

html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
}